
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAILED/NOT_PERFORMED TESTS STATUS</title>
</head>
<body>
        <table style="width: 90%;" border="2" cellspacing="2" cellpadding="4">>
            <tbody>
                <tr style="border-color: black; background-color: moccasin; text-align: center;">
    <td>Test_ID</td>
<td>Name</td>
<td>Group</td>
<td>Base_ID</td>
<td>Device</td>
<td>OS</td>
<td>CRB</td>
<td>CNV_mode</td>
<td>2020-11-22#00156</td>
<td>Comment</td>
                </><tr><td>701284</td>
<td>Check the device unsupport in virtualised environment-CLC</td>
<td>SRIOV_HEARTBEAT</td>
<td>STR_CLC_Basic_SRIOV_FBSD</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td>ixa00399308</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>702074</td>
<td>AES128-CBC HMAC-SHA1 Cycles User (64), Algorithm Chaining - AES128-CBC HMAC-SHA1 (64), Expect 75coo(c) - 250coo(c). Actual: 265coo(c), Exception:  - Maximum not met: 265coo(c) > 250coo(c).</td>
<td>Benchmark</td>
<td>STR_DNV_Harcuvar_Benchmark_FBSD</td>
<td>DNV_HIG</td>
<td>FreeBSD_12.1</td>
<td>ixa00399259</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>702603</td>
<td>SRIOV Sign of Life 4GiB Ram 1 VF (CLC-OOT)</td>
<td>SRIOV</td>
<td>STR_CLC_Basic_SRIOV_FBSD</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td>ixa00399308</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>702603</td>
<td>SRIOV Sign of Life 4GiB Ram 1 VF (CLC-OOT)</td>
<td>SRIOV</td>
<td>LOO_CLC_Basic_SRIOV_FBSD</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td>ixa00399308</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>702604</td>
<td>SRIOV Sample Code User on 1 VM with 2VFs from each accelerator (CLC-OOT)</td>
<td>SRIOV</td>
<td>STR_CLC_Basic_SRIOV_FBSD</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td>ixa00399308</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>702605</td>
<td>SRIOV Stress Test 4VMs with 2VFs each (CLC-OOT)</td>
<td>SRIOV</td>
<td>STR_CLC_Basic_SRIOV_FBSD</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td>ixa00399308</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>702606</td>
<td>SRIOV Stress Test Max VMs - Test for 8 VMs (CLC-OOT)</td>
<td>SRIOV</td>
<td>STR_CLC_Basic_SRIOV_FBSD</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td>ixa00399308</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>702607</td>
<td>SRIOV Pass Through (CLC-OOT)</td>
<td>SRIOV</td>
<td>STR_CLC_Basic_SRIOV_FBSD</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td></td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>702607</td>
<td>SRIOV Pass Through (CLC-OOT)</td>
<td>SRIOV</td>
<td>LOO_CLC_Basic_SRIOV_FBSD</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td></td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>702608</td>
<td>SRIOV Pass Through 1 VM 2 PFs (CLC-OOT)</td>
<td>SRIOV</td>
<td>STR_CLC_Basic_SRIOV_FBSD</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td></td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>702610</td>
<td>SRIOV Pass Through Large Memory (CLC-OOT)</td>
<td>SRIOV</td>
<td>STR_CLC_Basic_SRIOV_FBSD</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td></td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>705607</td>
<td>3 New Refactored Stress Test run in Parallel sessions</td>
<td>Stress</td>
<td>Stress_FBSD</td>
<td>DNV_HIG</td>
<td>FreeBSD_12.1</td>
<td>ixa00400658</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>705607</td>
<td>3 New Refactored Stress Test run in Parallel sessions</td>
<td>Stress</td>
<td>Stress_FBSD</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td>ixa00381948</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>705607</td>
<td>3 New Refactored Stress Test run in Parallel sessions</td>
<td>Stress</td>
<td>Stress_FBSD</td>
<td>LBG-T_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00399319</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>705610</td>
<td>3 Refactored Stress Test run in Parallel sessions [LBG_800Mhz_No PKE Support]</td>
<td>Stress</td>
<td>LBG_800MHz_Stress</td>
<td>LBG-C_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00395816</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>706022</td>
<td>Mega Test User TRAD & DP (LBG/SKX)</td>
<td>Mega</td>
<td>LOO_LBG_Mega_FBSD</td>
<td>LBG-T_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00395117</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>706024</td>
<td>Mega Test User TRAD & DP (CLC/DNV/BDX) </td>
<td>Mega</td>
<td>LOO_Mega_FBSD</td>
<td>DNV_HIG</td>
<td>FreeBSD_12.1</td>
<td>ixa00399533</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>706024</td>
<td>Mega Test User TRAD & DP (CLC/DNV/BDX) </td>
<td>Mega</td>
<td>LOO_Mega_FBSD</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td>ixa00368516</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>706029</td>
<td>Mega Test User TRAD & DP (LBG_800MHz)</td>
<td>Mega</td>
<td>LOO_800MHz_Mega_FBSD</td>
<td>LBG-C_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00395816</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>707416</td>
<td>Debug removal test</td>
<td>Security</td>
<td>Defences_Debug</td>
<td>LBG-T_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00400310</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>707471</td>
<td>FreeBSD - Check the SW version</td>
<td>Smoke</td>
<td>STR_Smoke_FreeBSD_CLC</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td>ixa00399316</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>707793</td>
<td>PF-VF-Compatibility- SOL on guest with latest package on Guest</td>
<td>PF-VF-Compatibility</td>
<td>STR_PF-VF_Compatibility_CLC_FreeBSD</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td>ixa00399308</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>708018</td>
<td>Launch two VM Guests. Run sample code on Guest 1. Run sample code on Guest 2.</td>
<td>SRIOV</td>
<td>Sdle_Process</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td></td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806022</td>
<td>Stateful Compression with large packet size (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_FBSD_Mega128kb</td>
<td>DNV_HIG</td>
<td>FreeBSD_12.1</td>
<td>ixa00399533</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806022</td>
<td>Stateful Compression with large packet size (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_FBSD_Mega128kb</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td>ixa00368516</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806022</td>
<td>Stateful Compression with large packet size (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_FBSD_Mega128kb</td>
<td>LBG-T_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00395117</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806022</td>
<td>Stateful Compression with large packet size (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_800MHz_Mega_FBSD</td>
<td>LBG-C_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00395816</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806023</td>
<td>Stateless Compression with large packet size (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_FBSD_Mega128kb</td>
<td>DNV_HIG</td>
<td>FreeBSD_12.1</td>
<td>ixa00399533</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806023</td>
<td>Stateless Compression with large packet size (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_FBSD_Mega128kb</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td>ixa00368516</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806023</td>
<td>Stateless Compression with large packet size (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_FBSD_Mega128kb</td>
<td>LBG-T_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00395117</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806023</td>
<td>Stateless Compression with large packet size (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_800MHz_Mega_FBSD</td>
<td>LBG-C_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00395816</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806024</td>
<td>Stateful Compression for large packet size with each 1K (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_FBSD_Mega128kb</td>
<td>DNV_HIG</td>
<td>FreeBSD_12.1</td>
<td>ixa00399533</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806024</td>
<td>Stateful Compression for large packet size with each 1K (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_FBSD_Mega128kb</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td>ixa00368516</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806024</td>
<td>Stateful Compression for large packet size with each 1K (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_FBSD_Mega128kb</td>
<td>LBG-T_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00395117</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806024</td>
<td>Stateful Compression for large packet size with each 1K (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_800MHz_Mega_FBSD</td>
<td>LBG-C_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00395816</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806025</td>
<td>Stateless Compression for large packet size with each 1K (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_FBSD_Mega128kb</td>
<td>DNV_HIG</td>
<td>FreeBSD_12.1</td>
<td>ixa00399533</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806025</td>
<td>Stateless Compression for large packet size with each 1K (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_FBSD_Mega128kb</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td>ixa00368516</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806025</td>
<td>Stateless Compression for large packet size with each 1K (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_FBSD_Mega128kb</td>
<td>LBG-T_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00395117</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>8806025</td>
<td>Stateless Compression for large packet size with each 1K (Pkt Size=131072)-(LBG/SKK/DNV/BDX/CLC)</td>
<td>Mega</td>
<td>LOO_800MHz_Mega_FBSD</td>
<td>LBG-C_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00395816</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70102076</td>
<td>Data Plane Algchain Performance User (0x400000, 1024), Algorithm Chaining - AES128-CBC HMAC-SHA2-256 (1024), Expect >= 76500Mbps. Actual: 75102Mbps (98%), Exception:  - Minimum not met: 75102Mbps < 76500Mbps.</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x16_FreeBSD</td>
<td>LBG-T_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00390972</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70102078</td>
<td>Data Plane Algchain Performance User (0x800000, 1024), Algorithm Chaining - AES256-CBC HMAC-SHA2-256 (1024), Expect >= 76500Mbps. Actual: 72484Mbps (95%), Exception:  - Minimum not met: 72484Mbps < 76500Mbps.</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x16_FreeBSD</td>
<td>LBG-T_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00390972</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70102082</td>
<td>Data Plane Algchain Performance User (0x10000000, 1024), Algorithm Chaining - AES256-CTR AES-CMAC (1024), Expect >= 76500Mbps. Actual: 75847Mbps (99%), Exception:  - Minimum not met: 75847Mbps < 76500Mbps.</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x16_FreeBSD</td>
<td>LBG-T_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00390972</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70102084</td>
<td>Data Plane Algchain Performance User (0x100, 1024), Algorithm Chaining - AES128-GCM AES-GCM (1024), Expect >= 76500Mbps. Actual: 78028Mbps (102%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x16_FreeBSD</td>
<td>LBG-T_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00390972</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70102740</td>
<td>LBG Data Plane Hash Performance User (0x1000, 1024), HASH HMAC-SHA3-256 (1024), Expect >= 59697Mbps. Actual: 61365Mbps (103%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x16_FreeBSD</td>
<td>LBG-T_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00390972</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121004</td>
<td>Data Plane Cipher Throughput User (0x20, 1024), Cipher AES128-CBC (1024), Expect >= 90000Mbps. Actual: 136228Mbps (151%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121009</td>
<td>Data Plane Cipher Throughput User (0x100, 1024), Cipher AES128-CTR (1024), Expect >= 90000Mbps. Actual: 139390Mbps (155%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121014</td>
<td>Data Plane Cipher Throughput User (0x200000, 1024), Cipher AES128-XTS (1024), Expect >= 90000Mbps. Actual: 131992Mbps (147%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121016</td>
<td>Data Plane Cipher Throughput User (0x4000, 1024), Cipher 3DES-CBC (1024), Expect >= 54000Mbps. Actual: 76379Mbps (141%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121018</td>
<td>Data Plane Cipher Throughput User (0x8000, 1024), Cipher 3DES-CTR (1024), Expect >= 54000Mbps. Actual: 80591Mbps (149%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121022</td>
<td>Data Plane Plain Hash Performance User (0x2, 1024), HASH SHA1 (1024), Expect >= 90000Mbps. Actual: 129455Mbps (144%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121022</td>
<td>Data Plane Plain Hash Performance User (0x2, 1024), HASH SHA1 (1024), Expect >= 76500Mbps. Actual: 75937Mbps (99%), Exception:  - Minimum not met: 75937Mbps < 76500Mbps.</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x16_FreeBSD</td>
<td>LBG-T_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00390972</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121024</td>
<td>Data Plane Plain Hash Performance User (0x8, 1024), HASH SHA2-256 (1024), Expect >= 90000Mbps. Actual: 129388Mbps (144%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121026</td>
<td>Data Plane Plain Hash Performance User (0x20, 1024), HASH SHA2-512 (1024), Expect >= 90000Mbps. Actual: 109944Mbps (122%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121026</td>
<td>Data Plane Plain Hash Performance User (0x20, 1024), HASH SHA2-512 (1024), Expect >= 76500Mbps. Actual: 72084Mbps (94%), Exception:  - Minimum not met: 72084Mbps < 76500Mbps.</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x16_FreeBSD</td>
<td>LBG-T_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00390972</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121028</td>
<td>Data Plane Plain Hash Performance User (0x1000, 1024), HASH SHA3-256 (1024), Expect >= 90000Mbps. Actual: 125036Mbps (139%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121032</td>
<td>Data Plane Hash Performance User (0x1, 1024), HASH HMAC-MD5 (1024), Expect >= 90000Mbps. Actual: 127161Mbps (141%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121034</td>
<td>Data Plane Hash Performance User (0x2, 1024), HASH HMAC-SHA1 (1024), Expect >= 81000Mbps. Actual: 140916Mbps (174%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121036</td>
<td>Data Plane Hash Performance User (0x8, 1024), HASH HMAC-SHA2-256 (1024), Expect >= 90000Mbps. Actual: 125969Mbps (140%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121036</td>
<td>Data Plane Hash Performance User (0x8, 1024), HASH HMAC-SHA2-256 (1024), Expect >= 72000Mbps. Actual: 73314Mbps (102%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x16_FreeBSD</td>
<td>LBG-T_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00390972</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121038</td>
<td>Data Plane Hash Performance User (0x20, 1024), HASH HMAC-SHA2-512 (1024), Expect >= 72000Mbps. Actual: 100788Mbps (140%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121042</td>
<td>IPSEC Performance User (0x04, 1464), Algorithm Chaining - AES128-CBC HMAC-SHA1 (1464), Expect >= 90000Mbps. Actual: 134120Mbps (149%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121043</td>
<td>Data Plane Algchain Performance User (0x1000, 2048), Algorithm Chaining - AES128-CBC HMAC-SHA1 (2048), Expect >= 90000Mbps. Actual: 142320Mbps (158%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121044</td>
<td>Data Plane Algchain Performance User (0x1000, 16384), Algorithm Chaining - AES128-CBC HMAC-SHA1 (16384), Expect >= 90000Mbps. Actual: 155733Mbps (173%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121045</td>
<td>Data Plane Algchain Performance User (0x1000, 1472), Algorithm Chaining - AES128-CBC HMAC-SHA1 (1472), Expect >= 90000Mbps. Actual: 133756Mbps (149%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121046</td>
<td>Data Plane Algchain Performance User (0x1000, 64), Algorithm Chaining - AES128-CBC HMAC-SHA1 (64), Expect >= 8100Mbps. Actual: 10152Mbps (125%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121050</td>
<td>Data Plane Algchain Performance User (0x1000, 1024), Algorithm Chaining - AES128-CBC HMAC-SHA1 (1024), Expect >= 90000Mbps. Actual: 120427Mbps (134%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121051</td>
<td>Data Plane Algchain Performance User (0x1000, 1280), Algorithm Chaining - AES128-CBC HMAC-SHA1 (1280), Expect >= 90000Mbps. Actual: 128035Mbps (142%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121053</td>
<td>Data Plane Algchain Performance User (0x10, 1024), Algorithm Chaining - 3DES-CBC HMAC-SHA1 (1024), Expect >= 54000Mbps. Actual: 70323Mbps (130%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121054</td>
<td>Data Plane Algchain Performance User (0x10, 1280), Algorithm Chaining - 3DES-CBC HMAC-SHA1 (1280), Expect >= 54000Mbps. Actual: 72631Mbps (135%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121055</td>
<td>Data Plane Algchain Performance User (0x10, 1536), Algorithm Chaining - 3DES-CBC HMAC-SHA1 (1536), Expect >= 54000Mbps. Actual: 75003Mbps (139%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121056</td>
<td>Data Plane Algchain Performance User (0x10, 2048), Algorithm Chaining - 3DES-CBC HMAC-SHA1 (2048), Expect >= 54000Mbps. Actual: 73039Mbps (135%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121058</td>
<td>Data Plane Algchain Performance User (0x200, 1024), Algorithm Chaining - ARC4 HMAC-MD5 (1024), Expect >= 49500Mbps. Actual: 101453Mbps (205%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121059</td>
<td>Data Plane Algchain Performance User (0x200, 1280), Algorithm Chaining - ARC4 HMAC-MD5 (1280), Expect >= 49500Mbps. Actual: 114157Mbps (231%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121060</td>
<td>Data Plane Algchain Performance User (0x200, 1464), Algorithm Chaining - ARC4 HMAC-MD5 (1456), Expect >= 49500Mbps. Actual: 118747Mbps (240%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121061</td>
<td>Data Plane Algchain Performance User (0x200, 2048), Algorithm Chaining - ARC4 HMAC-MD5 (2048), Expect >= 49500Mbps. Actual: 130540Mbps (264%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121100</td>
<td>RSA Decrypt Performance User (0x02), RSA CRT DECRYPT (None), Expect >= 414000op/s. Actual: 481260op/s (116%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121103</td>
<td>Diffie Hellman Performance User (0x02), DIFFIE-HELLMAN PHASE 2 (None), Expect >= 774000op/s. Actual: 892197op/s (115%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121104</td>
<td>Diffie Hellman Performance User (0x08), DIFFIE-HELLMAN PHASE 2 (None), Expect >= 256500op/s. Actual: 306049op/s (119%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121105</td>
<td>Diffie Hellman Performance User (0x20), DIFFIE-HELLMAN PHASE 2 (None), Expect >= 45000op/s. Actual: 68683op/s (153%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121106</td>
<td>DSA Performance User (0x01), DSA VERIFY (None), Expect >= 369000op/s. Actual: 421465op/s (114%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121107</td>
<td>ECDSA Performance User (0x02), ECDSA VERIFY (None), Expect >= 72000op/s. Actual: 82741op/s (115%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121108</td>
<td>ECDSA Performance User (0x20), ECDSA VERIFY (None), Expect >= 52200op/s. Actual: 56862op/s (109%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121109</td>
<td>IKE RSA Performance User (32), IKE_RSA SIMULATION (None), Expect >= 45000op/s. Actual: 77601op/s (172%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121110</td>
<td>IKE DSA Performance User (256), IKE_DSA SIMULATION (None), Expect >= 22500op/s. Actual: 24792op/s (110%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121202</td>
<td>Stateless Dynamic L1 Compression Throughput User, Average DC Loops 100 (65536), Expect >= 81000Mbps. Actual: 64136Mbps (79%), Exception:  - Minimum not met: 64136Mbps < 81000Mbps.</td>
<td>SRIOV_PERFORMANCE</td>
<td>LOO_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121203</td>
<td>Stateless Dynamic L1 Decompression Throughput User, Average DC Loops 100 (65536), Expect >= 99000Mbps. Actual: 123642Mbps (125%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>LOO_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121203</td>
<td>Stateless Dynamic L1 Decompression Throughput User, Average DC Loops 100 (65536), Expect >= 99000Mbps. Actual: 108549Mbps (110%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121204</td>
<td>Stateless Dynamic L1 50:50 Compression/Decompression Total Throughput Performance User, Total Throughput(Mbps), Expect >= 90000Mbps. Actual: 134319Mbps (149%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>LOO_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-C_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00399492</td>
<td>loose</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121204</td>
<td>Stateless Dynamic L1 50:50 Compression/Decompression Total Throughput Performance User, Total Throughput(Mbps), Expect >= 90000Mbps. Actual: 91364Mbps (102%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>LOO_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121205</td>
<td>Stateless Dynamic L3 Compression Throughput Performance User, Average DC Loops 100 (65536), Expect >= 28800Mbps. Actual: 28615Mbps (99%), Exception:  - Minimum not met: 28615Mbps < 28800Mbps.</td>
<td>SRIOV_PERFORMANCE</td>
<td>LOO_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121206</td>
<td>Stateful Dynamic L1 Compression Throughput Performance User, Average DC Loops 100 (65536), Expect >= 40500Mbps. Actual: 32365Mbps (80%), Exception:  - Minimum not met: 32365Mbps < 40500Mbps.</td>
<td>SRIOV_PERFORMANCE</td>
<td>LOO_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-C_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00399492</td>
<td>loose</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121206</td>
<td>Stateful Dynamic L1 Compression Throughput Performance User, Average DC Loops 100 (65536), Expect >= 40500Mbps. Actual: 35867Mbps (89%), Exception:  - Minimum not met: 35867Mbps < 40500Mbps.</td>
<td>SRIOV_PERFORMANCE</td>
<td>LOO_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121207</td>
<td>Stateful Dynamic L1 Decompression Throughput Performance User, Average DC Loops 100 (65536), Expect >= 49500Mbps. Actual: 32962Mbps (67%), Exception:  - Minimum not met: 32962Mbps < 49500Mbps.</td>
<td>SRIOV_PERFORMANCE</td>
<td>LOO_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-C_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00399492</td>
<td>loose</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121207</td>
<td>Stateful Dynamic L1 Decompression Throughput Performance User, Average DC Loops 100 (65536), Expect >= 49500Mbps. Actual: 36585Mbps (74%), Exception:  - Minimum not met: 36585Mbps < 49500Mbps.</td>
<td>SRIOV_PERFORMANCE</td>
<td>LOO_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121208</td>
<td>Stateful Dynamic L1 50:50 Compression/Decompression Total Throughput Performance User, Total Throughput(Mbps), Expect >= 45000Mbps. Actual: 24739Mbps (55%),  - Minimum not met: 24739Mbps < 45000Mbps.</td>
<td>SRIOV_PERFORMANCE</td>
<td>LOO_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-C_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00399492</td>
<td>loose</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121208</td>
<td>Stateful Dynamic L1 50:50 Compression/Decompression Total Throughput Performance User, Total Throughput(Mbps), Expect >= 45000Mbps. Actual: 32461Mbps (72%),  - Minimum not met: 32461Mbps < 45000Mbps.</td>
<td>SRIOV_PERFORMANCE</td>
<td>LOO_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121209</td>
<td>Stateful Dynamic L3 Compression Throughput Performance User, Average DC Loops 100 (65536), Expect >= 18000Mbps. Actual: 20691Mbps (115%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>LOO_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>loose</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121700</td>
<td>LBG x24 2% Test (Spec:12600Mbps) Data Plane Cipher Throughput User (0x20, 64), Cipher AES128-CBC (64), Expect >= 12340Mbps. Actual: 12367Mbps (100%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121701</td>
<td>Data Plane Cipher Throughput User (0x20, 320), Cipher AES128-CBC (320), Expect >= 58500Mbps. Actual: 61856Mbps (106%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121702</td>
<td>Data Plane Cipher Throughput User (0x20, 512), Cipher AES128-CBC (512), Expect >= 76500Mbps. Actual: 92111Mbps (120%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121703</td>
<td>Data Plane Cipher Throughput User (0x20, 768), Cipher AES128-CBC (768), Expect >= 85500Mbps. Actual: 123714Mbps (145%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121705</td>
<td>Data Plane Cipher Throughput User (0x100, 64), Cipher AES128-CTR (64), Expect >= 12600Mbps. Actual: 13193Mbps (105%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121706</td>
<td>Data Plane Cipher Throughput User (0x100, 320), Cipher AES128-CTR (320), Expect >= 58500Mbps. Actual: 60902Mbps (104%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121707</td>
<td>Data Plane Cipher Throughput User (0x100, 512), Cipher AES128-CTR (512), Expect >= 76500Mbps. Actual: 93080Mbps (122%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121708</td>
<td>Data Plane Cipher Throughput User (0x100, 768), Cipher AES128-CTR (768), Expect >= 85500Mbps. Actual: 113106Mbps (132%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121710</td>
<td>LBG x24 2% Test (Spec:12150Mbps) Data Plane Cipher Throughput User (0x200000, 64), Cipher AES128-XTS (64), Expect >= 11900Mbps. Actual: 13116Mbps (110%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121711</td>
<td>LBG x24 2% Test (Spec:58500Mbps) Data Plane Cipher Throughput User (0x200000, 320), Cipher AES128-XTS (320), Expect >= 57330Mbps. Actual: 61085Mbps (107%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121712</td>
<td>Data Plane Cipher Throughput User (0x200000, 512), Cipher AES128-XTS (512), Expect >= 76500Mbps. Actual: 90505Mbps (118%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121713</td>
<td>Data Plane Cipher Throughput User (0x200000, 768), Cipher AES128-XTS (768), Expect >= 85500Mbps. Actual: 122264Mbps (143%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121715</td>
<td>LBG Data Plane Cipher Throughput User (0x4000, 64), Cipher 3DES-CBC (64), Expect >= 12150Mbps. Actual: 12572Mbps (103%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121717</td>
<td>LBG x16 2% Test (Spec:12150Mbps) Data Plane Cipher Throughput User (0x8000, 64), Cipher 3DES-CTR (64), Expect >= 12150Mbps. Actual: 13025Mbps (107%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121719</td>
<td>Data Plane Plain Hash Performance User (0x1, 64), HASH MD5 (64), Expect >= 10350Mbps. Actual: 11418Mbps (110%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121721</td>
<td>Data Plane Plain Hash Performance User (0x2, 64), HASH SHA1 (64), Expect >= 10350Mbps. Actual: 11676Mbps (113%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121723</td>
<td>Data Plane Plain Hash Performance User (0x8, 64), HASH SHA2-256 (64), Expect >= 10350Mbps. Actual: 11427Mbps (110%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121725</td>
<td>Data Plane Plain Hash Performance User (0x20, 64), HASH SHA2-512 (64), Expect >= 10350Mbps. Actual: 11480Mbps (111%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121727</td>
<td>Data Plane Plain Hash Performance User (0x1000, 64), HASH SHA3-256 (64), Expect >= 10350Mbps. Actual: 11635Mbps (112%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121731</td>
<td>LBG x16 2% Test (Spec:10350Mbps) Data Plane Hash Performance User (0x1, 64), HASH HMAC-MD5 (64), Expect >= 10350Mbps. Actual: 11551Mbps (112%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121733</td>
<td>Data Plane Hash Performance User (0x2, 64), HASH HMAC-SHA1 (64), Expect >= 10350Mbps. Actual: 11207Mbps (108%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121735</td>
<td>Data Plane Hash Performance User (0x8, 64), HASH HMAC-SHA2-256 (64), Expect >= 10800Mbps. Actual: 11052Mbps (102%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121737</td>
<td>Data Plane Hash Performance User (0x20, 64), HASH HMAC-SHA2-512 (64), Expect >= 10800Mbps. Actual: 11145Mbps (103%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121739</td>
<td>Data Plane Hash Performance User (0x1000, 64), HASH HMAC-SHA3-256 (64), Expect >= 9450Mbps. Actual: 9925Mbps (105%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121740</td>
<td>LBG Data Plane Hash Performance User (0x1000, 1024), HASH HMAC-SHA3-256 (1024), Expect >= 90000Mbps. Actual: 101933Mbps (113%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121747</td>
<td>LBG Data Plane Algchain Performance User (0x1000, 320), Algorithm Chaining - AES128-CBC HMAC-SHA1 (320), Expect >= 38700Mbps. Actual: 45306Mbps (117%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121748</td>
<td>LBG Data Plane Algchain Performance User (0x1000, 512), Algorithm Chaining - AES128-CBC HMAC-SHA1 (512), Expect >= 60300Mbps. Actual: 69261Mbps (115%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121749</td>
<td>LBG Data Plane Algchain Performance User (0x1000, 768), Algorithm Chaining - AES128-CBC HMAC-SHA1 (768), Expect >= 81000Mbps. Actual: 95497Mbps (118%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121752</td>
<td>LBG Data Plane Algchain Performance User (0x10, 64), Algorithm Chaining - 3DES-CBC HMAC-SHA1 (64), Expect >= 7857Mbps. Actual: 9216Mbps (117%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121757</td>
<td>LBG Data Plane Algchain Performance User (0x200, 64), Algorithm Chaining - ARC4 HMAC-MD5 (64), Expect >= 7650Mbps. Actual: 9020Mbps (118%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121762</td>
<td>LBG x16 2% Test (Spec:7200Mbps) Data Plane Kasumi User (0x1, 40), Cipher KASUMI_F8 (40), Expect >= 7200Mbps. Actual: 8183Mbps (114%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121764</td>
<td>LBG x16 2% Test (Spec:6750Mbps) Data Plane Kasumi Hash Performance User (0x1, 40), HASH HMAC-KASUMI-F9 (40), Expect >= 6750Mbps. Actual: 7299Mbps (108%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121766</td>
<td>LBG Data Plane SNOW 3G Performance User (0x2, 40), Cipher SNOW3G_UEA2 (40), Expect >= 7200Mbps. Actual: 8202Mbps (114%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121768</td>
<td>LBG/DNV Data Plane SNOW 3G Hash Performance User (0x2, 40), HASH HMAC-SNOW3G-UIA2 (40), Expect >= 6300Mbps. Actual: 6591Mbps (105%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121770</td>
<td>LBG Data Plane ZUC Performance User (0x4, 40), Cipher ZUC-EEA3 (40), Expect >= 7200Mbps. Actual: 8068Mbps (112%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70121772</td>
<td>LBG/DNV Data Plane ZUC Hash Performance User (0x4, 40), HASH HMAC-ZUC-EIA3 (40), Expect >= 6300Mbps. Actual: 6852Mbps (109%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_LBG_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-T_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00400505</td>
<td>strict</td>
<td>NP</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70402285</td>
<td>Data Plane Cipher Throughput User (0x100, 320), Cipher AES128-CTR (320), Expect >= 27000Mbps. Actual: 34131Mbps (126%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_CLC_SRIOV_Benchmark_FreeBSD</td>
<td>CLC</td>
<td>FreeBSD_12.1</td>
<td>ixa00399309</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70502203</td>
<td>Stateless Dynamic L1 Decompression Throughput User, Average DC Loops 100 (65536), Expect >= 110000Mbps. Actual: 135211Mbps (123%)</td>
<td>Benchmark</td>
<td>STR_800Mhz_Benchmark-x24-LBG_FBSD</td>
<td>LBG-C_x16</td>
<td>FreeBSD_12.1</td>
<td>ixa00394818</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70602203</td>
<td>Stateless Dynamic L1 Decompression Throughput User, Average DC Loops 100 (65536), Expect >= 115620Mbps. Actual: 168153Mbps (145%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_800MHz_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-C_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00399492</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70602700</td>
<td>Data Plane Cipher Throughput User (0x20, 64), Cipher AES128-CBC (64), Expect >= 14715Mbps. Actual: 14934Mbps (101%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_800MHz_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-C_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00399492</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70602705</td>
<td>Data Plane Cipher Throughput User (0x100, 64), Cipher AES128-CTR (64), Expect >= 14715Mbps. Actual: 14778Mbps (100%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_800MHz_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-C_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00399492</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70602739</td>
<td>2% Test (Spec : 11036Mbps) Data Plane Hash Performance User (0x1000, 64), HASH HMAC-SHA3-256 (64), Expect >= 10816Mbps. Actual: 10847Mbps (100%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_800MHz_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-C_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00399492</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr><tr><td>70602768</td>
<td>LBG/DNV Data Plane SNOW 3G Hash Performance User (0x2, 40), HASH HMAC-SNOW3G-UIA2 (40), Expect >= 7358Mbps. Actual: 7447Mbps (101%)</td>
<td>SRIOV_PERFORMANCE</td>
<td>STR_800MHz_SRIOV_Benchmark_x24_FreeBSD</td>
<td>LBG-C_x24</td>
<td>FreeBSD_12.1</td>
<td>ixa00399492</td>
<td>strict</td>
<td>Fail</td>
<td>
        <textarea name="comment" rows="3" cols="">
  </textarea>
        </td></tr></tbody>
        </>
</body>
</html>

